# Environment variables
.env
*.env

# Python cache & build
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS metadata
.DS_Store
Thumbs.db
